<table style="width: 100%;">
    <tr>
        <td style="width: 35%;"></td>
        <td style="width: 30%;">
            <ul>
                <li class="navoption">
                    <a href="/">Home</a><br />
                </li>
                <li class="navoption">
                    <a href="/aboutme">About Me</a><br />
                </li>
                <li class="navoption">
                    <a href="/projects">Pojects</a><br />
                </li>
            </ul>
        </td>
        <td style="width: 35%;"></td>
    </tr>
</table>