<nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/aboutMe">About Me</a>
    <a class="nav-link" href="/Projects">Projects</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>